{
  "openapi": "3.1.0",
  "info": {
    "title": "Soccer",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api.sportradar.com/soccer/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/{access_level}/v4/{language_code}/competitions/{competition_id}/seasons.{format}": {
      "get": {
        "summary": "Competition Seasons",
        "description": "Provides historical season information for a given competition. Valid competition IDs can be found in the Competitions feed.",
        "operationId": "soccer-competition-seasons",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key<br><br>`trial`, `production`",
            "schema": {
              "type": "string",
              "enum": [
                "trial",
                "production"
              ],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2-letter code for supported languages<br><br>`da` (Danish), `de` (German), `el` (Greek), `en` (English), `es` (Spanish), `fi` (Finnish), `fr` (French), `id` (Indonesian), `it` (Italian), `ja` (Japanese), `nl` (Dutch), `pt` (Portuguese), `ru` (Russian), `sr` (Serbian), `srl` (Serbian Latin), `th` (Thai), `tr` (Turkish), `zh` (Chinese - simplified), `zht` (Chinese - traditional)<br><br>The above codes are the fully supported languages for this API. Click <span style=\"text-decoration:underline\">[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)</span> for valid language codes and a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "enum": [
                "da",
                "de",
                "el",
                "en",
                "es",
                "fi",
                "fr",
                "id",
                "it",
                "ja",
                "nl",
                "pt",
                "ru",
                "sr",
                "srl",
                "th",
                "tr",
                "zh",
                "zht"
              ],
              "default": "en"
            },
            "required": true
          },
          {
            "name": "competition_id",
            "in": "path",
            "description": "Unique Id of a competition, found in the <span style=\"text-decoration:underline\">[Competitions](https://developer.sportradar.com/soccer/reference/soccer-competitions)</span> endpoint.<br><br>**Example:** `sr:competition:17`",
            "schema": {
              "type": "string",
              "default": "sr:competition:17"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned<br><br>`json`, `xml`",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"generated_at\": \"2023-04-20T16:30:31.970Z\",\n  \"seasons\": [\n    {\n      \"competition_id\": \"string\",\n      \"disabled\": true,\n      \"end_date\": \"2023-04-20\",\n      \"id\": \"string\",\n      \"name\": \"string\",\n      \"start_date\": \"2023-04-20\",\n      \"year\": \"string\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2023-04-20T16:30:31.970Z"
                    },
                    "seasons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "competition_id": {
                            "type": "string",
                            "example": "string"
                          },
                          "disabled": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "end_date": {
                            "type": "string",
                            "example": "2023-04-20"
                          },
                          "id": {
                            "type": "string",
                            "example": "string"
                          },
                          "name": {
                            "type": "string",
                            "example": "string"
                          },
                          "start_date": {
                            "type": "string",
                            "example": "2023-04-20"
                          },
                          "year": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v4/{language_code}/competitions/{competition_id}/info.{format}": {
      "get": {
        "summary": "Competition Info",
        "description": "Provides the name, id, and parent id for a given competition.",
        "operationId": "soccer-competition-info",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key<br><br>`trial`, `production`",
            "schema": {
              "type": "string",
              "enum": [
                "trial",
                "production"
              ],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2-letter code for supported languages<br><br>`da` (Danish), `de` (German), `el` (Greek), `en` (English), `es` (Spanish), `fi` (Finnish), `fr` (French), `id` (Indonesian), `it` (Italian), `ja` (Japanese), `nl` (Dutch), `pt` (Portuguese), `ru` (Russian), `sr` (Serbian), `srl` (Serbian Latin), `th` (Thai), `tr` (Turkish), `zh` (Chinese - simplified), `zht` (Chinese - traditional)<br><br>The above codes are the fully supported languages for this API. Click <span style=\"text-decoration:underline\">[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)</span> for valid language codes and a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "enum": [
                "da",
                "de",
                "el",
                "en",
                "es",
                "fi",
                "fr",
                "id",
                "it",
                "ja",
                "nl",
                "pt",
                "ru",
                "sr",
                "srl",
                "th",
                "tr",
                "zh",
                "zht"
              ],
              "default": "en"
            },
            "required": true
          },
          {
            "name": "competition_id",
            "in": "path",
            "description": "Unique Id of a competition, found in the <span style=\"text-decoration:underline\">[Competitions](https://developer.sportradar.com/soccer/reference/soccer-competitions)</span> endpoint.<br><br>**Example:** `sr:competition:17`",
            "schema": {
              "type": "string",
              "default": "sr:competition:17"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned<br><br>`json`, `xml`",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"competition\": {\n    \"category\": {\n      \"country_code\": \"string\",\n      \"id\": \"string\",\n      \"name\": \"string\"\n    },\n    \"children\": [\n      {\n        \"gender\": \"string\",\n        \"id\": \"string\",\n        \"name\": \"string\",\n        \"parent_id\": \"string\",\n        \"type\": \"string\"\n      }\n    ],\n    \"gender\": \"string\",\n    \"id\": \"string\",\n    \"name\": \"string\",\n    \"parent_id\": \"string\",\n    \"type\": \"string\"\n  },\n  \"generated_at\": \"2023-04-20T16:29:45.672Z\",\n  \"info\": {\n    \"competition_status\": \"delayed\",\n    \"venue_reduced_capacity\": true,\n    \"venue_reduced_capacity_max\": 0\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "competition": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "object",
                          "properties": {
                            "country_code": {
                              "type": "string",
                              "example": "string"
                            },
                            "id": {
                              "type": "string",
                              "example": "string"
                            },
                            "name": {
                              "type": "string",
                              "example": "string"
                            }
                          }
                        },
                        "children": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "gender": {
                                "type": "string",
                                "example": "string"
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "name": {
                                "type": "string",
                                "example": "string"
                              },
                              "parent_id": {
                                "type": "string",
                                "example": "string"
                              },
                              "type": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          }
                        },
                        "gender": {
                          "type": "string",
                          "example": "string"
                        },
                        "id": {
                          "type": "string",
                          "example": "string"
                        },
                        "name": {
                          "type": "string",
                          "example": "string"
                        },
                        "parent_id": {
                          "type": "string",
                          "example": "string"
                        },
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "generated_at": {
                      "type": "string",
                      "example": "2023-04-20T16:29:45.672Z"
                    },
                    "info": {
                      "type": "object",
                      "properties": {
                        "competition_status": {
                          "type": "string",
                          "example": "delayed"
                        },
                        "venue_reduced_capacity": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "venue_reduced_capacity_max": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v4/{language_code}/competitions.{format}": {
      "get": {
        "summary": "Competitions",
        "description": "Provides a list of all available Soccer competitions.",
        "operationId": "soccer-competitions",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key<br><br>`trial`, `production`",
            "schema": {
              "type": "string",
              "enum": [
                "trial",
                "production"
              ],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2-letter code for supported languages<br><br>`da` (Danish), `de` (German), `el` (Greek), `en` (English), `es` (Spanish), `fi` (Finnish), `fr` (French), `id` (Indonesian), `it` (Italian), `ja` (Japanese), `nl` (Dutch), `pt` (Portuguese), `ru` (Russian), `sr` (Serbian), `srl` (Serbian Latin), `th` (Thai), `tr` (Turkish), `zh` (Chinese - simplified), `zht` (Chinese - traditional)<br><br>The above codes are the fully supported languages for this API. Click <span style=\"text-decoration:underline\">[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)</span> for valid language codes and a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "enum": [
                "da",
                "de",
                "el",
                "en",
                "es",
                "fi",
                "fr",
                "id",
                "it",
                "ja",
                "nl",
                "pt",
                "ru",
                "sr",
                "srl",
                "th",
                "tr",
                "zh",
                "zht"
              ],
              "default": "en"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned<br><br>`json`, `xml`",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"competitions\": [\n    {\n      \"category\": {\n        \"country_code\": \"string\",\n        \"id\": \"string\",\n        \"name\": \"string\"\n      },\n      \"gender\": \"string\",\n      \"id\": \"string\",\n      \"name\": \"string\",\n      \"parent_id\": \"string\",\n      \"type\": \"string\"\n    }\n  ],\n  \"generated_at\": \"2023-04-20T16:30:56.372Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "competitions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "object",
                            "properties": {
                              "country_code": {
                                "type": "string",
                                "example": "string"
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "name": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "gender": {
                            "type": "string",
                            "example": "string"
                          },
                          "id": {
                            "type": "string",
                            "example": "string"
                          },
                          "name": {
                            "type": "string",
                            "example": "string"
                          },
                          "parent_id": {
                            "type": "string",
                            "example": "string"
                          },
                          "type": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    },
                    "generated_at": {
                      "type": "string",
                      "example": "2023-04-20T16:30:56.372Z"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v4/{language_code}/competitors/mappings.{format}": {
      "get": {
        "summary": "Competitor Mappings",
        "description": "Provides competitor id mapping between previous versions of the Soccer API.",
        "operationId": "soccer-competitor-mappings",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key<br><br>`trial`, `production`",
            "schema": {
              "type": "string",
              "enum": [
                "trial",
                "production"
              ],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2-letter code for supported languages<br><br>`da` (Danish), `de` (German), `el` (Greek), `en` (English), `es` (Spanish), `fi` (Finnish), `fr` (French), `id` (Indonesian), `it` (Italian), `ja` (Japanese), `nl` (Dutch), `pt` (Portuguese), `ru` (Russian), `sr` (Serbian), `srl` (Serbian Latin), `th` (Thai), `tr` (Turkish), `zh` (Chinese - simplified), `zht` (Chinese - traditional)<br><br>The above codes are the fully supported languages for this API. Click <span style=\"text-decoration:underline\">[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)</span> for valid language codes and a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "enum": [
                "da",
                "de",
                "el",
                "en",
                "es",
                "fi",
                "fr",
                "id",
                "it",
                "ja",
                "nl",
                "pt",
                "ru",
                "sr",
                "srl",
                "th",
                "tr",
                "zh",
                "zht"
              ],
              "default": "en"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned<br><br>`json`, `xml`",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "required": true
          },
          {
            "name": "start",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.<br>Default: `0`<br><br>Example: `start=1000` to receive a 2nd page of results (if necessary)<br><br><i>Note: You may alternatively use `offset`</i>",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to return.<br>Maximum: `1000`<br>Default value: `1000`<br><br>Example: `limit=200`<br><br>**Note**: Pagination will often be required to pull all data within this feed. By default, the feed will return 1,000 competitor mappings.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"generated_at\": \"2023-04-20T16:31:36.660Z\",\n  \"mappings\": [\n    {\n      \"external_id\": \"string\",\n      \"id\": \"string\",\n      \"merged_id\": \"string\",\n      \"retained_id\": \"string\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2023-04-20T16:31:36.660Z"
                    },
                    "mappings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "external_id": {
                            "type": "string",
                            "example": "string"
                          },
                          "id": {
                            "type": "string",
                            "example": "string"
                          },
                          "merged_id": {
                            "type": "string",
                            "example": "string"
                          },
                          "retained_id": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v4/{language_code}/competitors/merge_mappings.{format}": {
      "get": {
        "summary": "Competitor Merge Mappings",
        "description": "Provides the valid Sportradar Id in cases when two competitors have been merged into one.<br><br>Entries are retained in this endpoint for one week.",
        "operationId": "soccer-competitor-merge-mappings",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key<br><br>`trial`, `production`",
            "schema": {
              "type": "string",
              "enum": [
                "trial",
                "production"
              ],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2-letter code for supported languages<br><br>`da` (Danish), `de` (German), `el` (Greek), `en` (English), `es` (Spanish), `fi` (Finnish), `fr` (French), `id` (Indonesian), `it` (Italian), `ja` (Japanese), `nl` (Dutch), `pt` (Portuguese), `ru` (Russian), `sr` (Serbian), `srl` (Serbian Latin), `th` (Thai), `tr` (Turkish), `zh` (Chinese - simplified), `zht` (Chinese - traditional)<br><br>The above codes are the fully supported languages for this API. Click <span style=\"text-decoration:underline\">[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)</span> for valid language codes and a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "enum": [
                "da",
                "de",
                "el",
                "en",
                "es",
                "fi",
                "fr",
                "id",
                "it",
                "ja",
                "nl",
                "pt",
                "ru",
                "sr",
                "srl",
                "th",
                "tr",
                "zh",
                "zht"
              ],
              "default": "en"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned<br><br>`json`, `xml`",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"generated_at\": \"2023-04-20T16:32:00.480Z\",\n  \"mappings\": [\n    {\n      \"merged_id\": \"string\",\n      \"name\": \"string\",\n      \"retained_id\": \"string\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2023-04-20T16:32:00.480Z"
                    },
                    "mappings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "merged_id": {
                            "type": "string",
                            "example": "string"
                          },
                          "name": {
                            "type": "string",
                            "example": "string"
                          },
                          "retained_id": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v4/{language_code}/competitors/{competitor_id}/profile.{format}": {
      "get": {
        "summary": "Competitor Profile",
        "description": "Provides top-level information for a given team, including the full team roster, manager, home venue, and team colors.",
        "operationId": "soccer-competitor-profile",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key<br><br>`trial`, `production`",
            "schema": {
              "type": "string",
              "enum": [
                "trial",
                "production"
              ],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2-letter code for supported languages<br><br>`da` (Danish), `de` (German), `el` (Greek), `en` (English), `es` (Spanish), `fi` (Finnish), `fr` (French), `id` (Indonesian), `it` (Italian), `ja` (Japanese), `nl` (Dutch), `pt` (Portuguese), `ru` (Russian), `sr` (Serbian), `srl` (Serbian Latin), `th` (Thai), `tr` (Turkish), `zh` (Chinese - simplified), `zht` (Chinese - traditional)<br><br>The above codes are the fully supported languages for this API. Click <span style=\"text-decoration:underline\">[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)</span> for valid language codes and a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "enum": [
                "da",
                "de",
                "el",
                "en",
                "es",
                "fi",
                "fr",
                "id",
                "it",
                "ja",
                "nl",
                "pt",
                "ru",
                "sr",
                "srl",
                "th",
                "tr",
                "zh",
                "zht"
              ],
              "default": "en"
            },
            "required": true
          },
          {
            "name": "competitor_id",
            "in": "path",
            "description": "Unique Id of a competitor<br><br>**Example:** `sr:competitor:44`",
            "schema": {
              "type": "string",
              "default": "sr:competitor:44"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned<br><br>`json`, `xml`",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"category\": {\n    \"country_code\": \"string\",\n    \"id\": \"string\",\n    \"name\": \"string\"\n  },\n  \"competitor\": {\n    \"abbreviation\": \"string\",\n    \"age_group\": \"U23\",\n    \"country\": \"string\",\n    \"country_code\": \"string\",\n    \"form\": \"string\",\n    \"gender\": \"string\",\n    \"id\": \"string\",\n    \"name\": \"string\",\n    \"other_season_id\": \"string\",\n    \"qualifier\": \"home\",\n    \"short_name\": \"string\",\n    \"virtual\": true\n  },\n  \"generated_at\": \"2024-07-23T12:42:26.218Z\",\n  \"jerseys\": [\n    {\n      \"base\": \"string\",\n      \"horizontal_stripes\": true,\n      \"horizontal_stripes_color\": \"string\",\n      \"number\": \"string\",\n      \"shirt_type\": \"string\",\n      \"sleeve\": \"string\",\n      \"sleeve_detail\": \"string\",\n      \"split\": true,\n      \"split_color\": \"string\",\n      \"squares\": true,\n      \"squares_color\": \"string\",\n      \"stripes\": true,\n      \"stripes_color\": \"string\",\n      \"type\": \"string\"\n    }\n  ],\n  \"manager\": {\n    \"country_code\": \"string\",\n    \"date_of_birth\": \"2024-07-23\",\n    \"gender\": \"female\",\n    \"id\": \"string\",\n    \"name\": \"string\",\n    \"nationality\": \"string\",\n    \"nickname\": \"string\",\n    \"place_of_birth\": \"string\",\n    \"preferred_foot\": \"right\"\n  },\n  \"players\": [\n    {\n      \"country_code\": \"string\",\n      \"date_of_birth\": \"2024-07-23\",\n      \"gender\": \"female\",\n      \"height\": 0,\n      \"id\": \"string\",\n      \"jersey_number\": 0,\n      \"name\": \"string\",\n      \"nationality\": \"string\",\n      \"nickname\": \"string\",\n      \"place_of_birth\": \"string\",\n      \"preferred_foot\": \"right\",\n      \"type\": \"goalkeeper\",\n      \"weight\": 0\n    }\n  ],\n  \"sport\": {\n    \"id\": \"string\",\n    \"name\": \"string\"\n  },\n  \"venue\": {\n    \"capacity\": 0,\n    \"changed\": true,\n    \"city_name\": \"string\",\n    \"country_code\": \"string\",\n    \"country_name\": \"string\",\n    \"id\": \"string\",\n    \"map_coordinates\": \"string\",\n    \"name\": \"string\",\n    \"reduced_capacity\": true,\n    \"reduced_capacity_max\": 0,\n    \"timezone\": \"string\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "type": "object",
                      "properties": {
                        "country_code": {
                          "type": "string",
                          "example": "string"
                        },
                        "id": {
                          "type": "string",
                          "example": "string"
                        },
                        "name": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "competitor": {
                      "type": "object",
                      "properties": {
                        "abbreviation": {
                          "type": "string",
                          "example": "string"
                        },
                        "age_group": {
                          "type": "string",
                          "example": "U23"
                        },
                        "country": {
                          "type": "string",
                          "example": "string"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "string"
                        },
                        "form": {
                          "type": "string",
                          "example": "string"
                        },
                        "gender": {
                          "type": "string",
                          "example": "string"
                        },
                        "id": {
                          "type": "string",
                          "example": "string"
                        },
                        "name": {
                          "type": "string",
                          "example": "string"
                        },
                        "other_season_id": {
                          "type": "string",
                          "example": "string"
                        },
                        "qualifier": {
                          "type": "string",
                          "example": "home"
                        },
                        "short_name": {
                          "type": "string",
                          "example": "string"
                        },
                        "virtual": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        }
                      }
                    },
                    "generated_at": {
                      "type": "string",
                      "example": "2024-07-23T12:42:26.218Z"
                    },
                    "jerseys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base": {
                            "type": "string",
                            "example": "string"
                          },
                          "horizontal_stripes": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "horizontal_stripes_color": {
                            "type": "string",
                            "example": "string"
                          },
                          "number": {
                            "type": "string",
                            "example": "string"
                          },
                          "shirt_type": {
                            "type": "string",
                            "example": "string"
                          },
                          "sleeve": {
                            "type": "string",
                            "example": "string"
                          },
                          "sleeve_detail": {
                            "type": "string",
                            "example": "string"
                          },
                          "split": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "split_color": {
                            "type": "string",
                            "example": "string"
                          },
                          "squares": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "squares_color": {
                            "type": "string",
                            "example": "string"
                          },
                          "stripes": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "stripes_color": {
                            "type": "string",
                            "example": "string"
                          },
                          "type": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    },
                    "manager": {
                      "type": "object",
                      "properties": {
                        "country_code": {
                          "type": "string",
                          "example": "string"
                        },
                        "date_of_birth": {
                          "type": "string",
                          "example": "2024-07-23"
                        },
                        "gender": {
                          "type": "string",
                          "example": "female"
                        },
                        "id": {
                          "type": "string",
                          "example": "string"
                        },
                        "name": {
                          "type": "string",
                          "example": "string"
                        },
                        "nationality": {
                          "type": "string",
                          "example": "string"
                        },
                        "nickname": {
                          "type": "string",
                          "example": "string"
                        },
                        "place_of_birth": {
                          "type": "string",
                          "example": "string"
                        },
                        "preferred_foot": {
                          "type": "string",
                          "example": "right"
                        }
                      }
                    },
                    "players": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country_code": {
                            "type": "string",
                            "example": "string"
                          },
                          "date_of_birth": {
                            "type": "string",
                            "example": "2024-07-23"
                          },
                          "gender": {
                            "type": "string",
                            "example": "female"
                          },
                          "height": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "id": {
                            "type": "string",
                            "example": "string"
                          },
                          "jersey_number": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "string"
                          },
                          "nationality": {
                            "type": "string",
                            "example": "string"
                          },
                          "nickname": {
                            "type": "string",
                            "example": "string"
                          },
                          "place_of_birth": {
                            "type": "string",
                            "example": "string"
                          },
                          "preferred_foot": {
                            "type": "string",
                            "example": "right"
                          },
                          "type": {
                            "type": "string",
                            "example": "goalkeeper"
                          },
                          "weight": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          }
                        }
                      }
                    },
                    "sport": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "string"
                        },
                        "name": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "venue": {
                      "type": "object",
                      "properties": {
                        "capacity": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "changed": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "city_name": {
                          "type": "string",
                          "example": "string"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "string"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "string"
                        },
                        "id": {
                          "type": "string",
                          "example": "string"
                        },
                        "map_coordinates": {
                          "type": "string",
                          "example": "string"
                        },
                        "name": {
                          "type": "string",
                          "example": "string"
                        },
                        "reduced_capacity": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "reduced_capacity_max": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "timezone": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{access_level}/v4/{language_code}/competitors/{competitor_id}/summaries.{format}": {
      "get": {
        "summary": "Competitor Summaries",
        "description": "Provides previous and upcoming match information for a given competitor, including statistics for past matches and scheduling info for upcoming matches.",
        "operationId": "soccer-competitor-summaries",
        "parameters": [
          {
            "name": "access_level",
            "in": "path",
            "description": "The access level of your API key<br><br>`trial`, `production`",
            "schema": {
              "type": "string",
              "enum": [
                "trial",
                "production"
              ],
              "default": "trial"
            },
            "required": true
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "2-letter code for supported languages<br><br>`da` (Danish), `de` (German), `el` (Greek), `en` (English), `es` (Spanish), `fi` (Finnish), `fr` (French), `id` (Indonesian), `it` (Italian), `ja` (Japanese), `nl` (Dutch), `pt` (Portuguese), `ru` (Russian), `sr` (Serbian), `srl` (Serbian Latin), `th` (Thai), `tr` (Turkish), `zh` (Chinese - simplified), `zht` (Chinese - traditional)<br><br>The above codes are the fully supported languages for this API. Click <span style=\"text-decoration:underline\">[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)</span> for valid language codes and a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "enum": [
                "da",
                "de",
                "el",
                "en",
                "es",
                "fi",
                "fr",
                "id",
                "it",
                "ja",
                "nl",
                "pt",
                "ru",
                "sr",
                "srl",
                "th",
                "tr",
                "zh",
                "zht"
              ],
              "default": "en"
            },
            "required": true
          },
          {
            "name": "competitor_id",
            "in": "path",
            "description": "Unique Id of a competitor<br><br>**Example:** `sr:competitor:44`",
            "schema": {
              "type": "string",
              "default": "sr:competitor:44"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned<br><br>`json`, `xml`",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"generated_at\": \"2025-03-11T13:46:32.392Z\",\n  \"summaries\": [\n    {\n      \"sport_event\": {\n        \"channels\": [\n          {\n            \"country\": \"string\",\n            \"country_code\": \"string\",\n            \"name\": \"string\",\n            \"url\": \"string\"\n          }\n        ],\n        \"competitors\": [\n          {\n            \"abbreviation\": \"string\",\n            \"age_group\": \"U23\",\n            \"country\": \"string\",\n            \"country_code\": \"string\",\n            \"form\": \"string\",\n            \"gender\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\",\n            \"other_season_id\": \"string\",\n            \"qualifier\": \"home\",\n            \"short_name\": \"string\",\n            \"virtual\": true\n          }\n        ],\n        \"coverage\": {\n          \"competition_properties\": {\n            \"brackets\": true,\n            \"missing_players\": true,\n            \"player_transfer_history\": true,\n            \"schedules\": true,\n            \"season_player_statistics\": true,\n            \"season_probabilities\": true,\n            \"season_stats_leaders\": true,\n            \"season_team_statistics\": true,\n            \"standings\": \"live\",\n            \"team_squads\": true\n          },\n          \"group_properties\": {\n            \"brackets\": true,\n            \"cup\": true,\n            \"group_stage\": true,\n            \"league\": true,\n            \"missing_players\": true,\n            \"qualification\": true,\n            \"results\": true,\n            \"schedules\": true,\n            \"standings\": \"live\"\n          },\n          \"sport_event_properties\": {\n            \"assists\": true,\n            \"ballspotting\": true,\n            \"basic_play_by_play\": true,\n            \"basic_player_stats\": true,\n            \"basic_team_stats\": true,\n            \"commentary\": true,\n            \"deeper_play_by_play\": true,\n            \"deeper_player_stats\": true,\n            \"deeper_team_stats\": true,\n            \"extended_player_stats\": true,\n            \"extended_team_stats\": true,\n            \"formations\": true,\n            \"fun_facts\": true,\n            \"game_clock\": true,\n            \"goal_scorers\": true,\n            \"goal_scorers_live\": true,\n            \"lineups\": true,\n            \"lineups_availability\": \"pre\",\n            \"probabilities\": true,\n            \"scores\": \"live\",\n            \"venue\": true\n          },\n          \"type\": \"sport_event\"\n        },\n        \"id\": \"sr:sport_event:2701207528523430685670\",\n        \"replaced_by\": \"sr:sport_event:6443867326796471275410407\",\n        \"resume_time\": \"2025-03-11T13:46:32.392Z\",\n        \"sport_event_conditions\": {\n          \"attendance\": {\n            \"count\": 0\n          },\n          \"comment\": {\n            \"text\": \"string\"\n          },\n          \"ground\": {\n            \"neutral\": true\n          },\n          \"lineups\": {\n            \"confirmed\": true\n          },\n          \"referees\": [\n            {\n              \"country_code\": \"string\",\n              \"id\": \"string\",\n              \"name\": \"string\",\n              \"nationality\": \"string\",\n              \"type\": \"first_assistant_referee\"\n            }\n          ],\n          \"weather\": {\n            \"overall_conditions\": \"good\",\n            \"pitch_conditions\": \"good\"\n          }\n        },\n        \"sport_event_context\": {\n          \"category\": {\n            \"country_code\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"competition\": {\n            \"gender\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\",\n            \"parent_id\": \"string\",\n            \"type\": \"string\"\n          },\n          \"groups\": [\n            {\n              \"group_name\": \"string\",\n              \"id\": \"string\",\n              \"name\": \"string\"\n            }\n          ],\n          \"round\": {\n            \"competition_sport_event_number\": 0,\n            \"cup_round_id\": \"string\",\n            \"cup_round_number_of_sport_events\": 0,\n            \"cup_round_sport_event_number\": 0,\n            \"name\": \"string\",\n            \"number\": 0,\n            \"other_sport_event_id\": \"sr:sport_event:92673443611707980074619972766254968368134180\"\n          },\n          \"season\": {\n            \"competition_id\": \"string\",\n            \"disabled\": true,\n            \"end_date\": \"2025-03-11\",\n            \"id\": \"string\",\n            \"name\": \"string\",\n            \"start_date\": \"2025-03-11\",\n            \"year\": \"string\"\n          },\n          \"sport\": {\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"stage\": {\n            \"end_date\": \"2025-03-11\",\n            \"order\": 0,\n            \"phase\": \"stage_1_playoff\",\n            \"start_date\": \"2025-03-11\",\n            \"type\": \"cup\",\n            \"year\": \"string\"\n          }\n        },\n        \"start_time\": \"2025-03-11T13:46:32.393Z\",\n        \"start_time_confirmed\": true,\n        \"venue\": {\n          \"capacity\": 0,\n          \"changed\": true,\n          \"city_name\": \"string\",\n          \"country_code\": \"string\",\n          \"country_name\": \"string\",\n          \"id\": \"string\",\n          \"map_coordinates\": \"string\",\n          \"name\": \"string\",\n          \"reduced_capacity\": true,\n          \"reduced_capacity_max\": 0,\n          \"timezone\": \"string\"\n        }\n      },\n      \"sport_event_status\": {\n        \"aggregate_away_score\": 0,\n        \"aggregate_home_score\": 0,\n        \"aggregate_winner_id\": \"sr:competitor:8465250640546374787509707336263012542993720980290689183183\",\n        \"away_normaltime_score\": 0,\n        \"away_overtime_score\": 0,\n        \"away_score\": 0,\n        \"ball_locations\": [\n          {\n            \"order\": 1,\n            \"qualifier\": \"home\",\n            \"x\": 35,\n            \"y\": 48\n          }\n        ],\n        \"clock\": {\n          \"played\": \"string\",\n          \"stoppage_time_announced\": \"string\",\n          \"stoppage_time_played\": \"string\"\n        },\n        \"decided_by_fed\": true,\n        \"home_normaltime_score\": 0,\n        \"home_overtime_score\": 0,\n        \"home_score\": 0,\n        \"match_situation\": {\n          \"qualifier\": \"home\",\n          \"status\": \"safe\",\n          \"updated_at\": \"2025-03-11T13:46:32.393Z\"\n        },\n        \"match_status\": \"not_started\",\n        \"match_tie\": true,\n        \"period_scores\": [\n          {\n            \"away_score\": 0,\n            \"home_score\": 0,\n            \"number\": 0,\n            \"type\": \"regular_period\"\n          }\n        ],\n        \"scout_abandoned\": true,\n        \"status\": \"not_started\",\n        \"winner_id\": \"string\"\n      },\n      \"statistics\": {\n        \"periods\": [\n          {\n            \"competitors\": [\n              {\n                \"abbreviation\": \"string\",\n                \"age_group\": \"U23\",\n                \"country\": \"string\",\n                \"country_code\": \"string\",\n                \"form\": \"string\",\n                \"gender\": \"string\",\n                \"id\": \"string\",\n                \"name\": \"string\",\n                \"other_season_id\": \"string\",\n                \"players\": [\n                  {\n                    \"id\": \"string\",\n                    \"name\": \"string\",\n                    \"starter\": true,\n                    \"statistics\": {\n                      \"assists\": 0,\n                      \"chances_created\": 0,\n                      \"clearances\": 0,\n                      \"corner_kicks\": 0,\n                      \"crosses_successful\": 0,\n                      \"crosses_total\": 0,\n                      \"defensive_blocks\": 0,\n                      \"diving_saves\": 0,\n                      \"dribbles_completed\": 0,\n                      \"fouls_committed\": 0,\n                      \"goals_by_head\": 0,\n                      \"goals_by_penalty\": 0,\n                      \"goals_conceded\": 0,\n                      \"goals_scored\": 0,\n                      \"interceptions\": 0,\n                      \"long_passes_successful\": 0,\n                      \"long_passes_total\": 0,\n                      \"long_passes_unsuccessful\": 0,\n                      \"loss_of_possession\": 0,\n                      \"minutes_played\": 0,\n                      \"offsides\": 0,\n                      \"own_goals\": 0,\n                      \"passes_successful\": 0,\n                      \"passes_total\": 0,\n                      \"passes_unsuccessful\": 0,\n                      \"penalties_faced\": 0,\n                      \"penalties_missed\": 0,\n                      \"penalties_saved\": 0,\n                      \"red_cards\": 0,\n                      \"shots_blocked\": 0,\n                      \"shots_faced_saved\": 0,\n                      \"shots_faced_total\": 0,\n                      \"shots_off_target\": 0,\n                      \"shots_on_target\": 0,\n                      \"substituted_in\": 0,\n                      \"substituted_out\": 0,\n                      \"tackles_successful\": 0,\n                      \"tackles_total\": 0,\n                      \"was_fouled\": 0,\n                      \"yellow_cards\": 0,\n                      \"yellow_red_cards\": 0\n                    }\n                  }\n                ],\n                \"qualifier\": \"home\",\n                \"short_name\": \"string\",\n                \"statistics\": {\n                  \"ball_possession\": 0,\n                  \"cards_given\": 0,\n                  \"chances_created\": 0,\n                  \"clearances\": 0,\n                  \"corner_kicks\": 0,\n                  \"crosses_successful\": 0,\n                  \"crosses_total\": 0,\n                  \"crosses_unsuccessful\": 0,\n                  \"defensive_blocks\": 0,\n                  \"diving_saves\": 0,\n                  \"dribbles_completed\": 0,\n                  \"fouls\": 0,\n                  \"free_kicks\": 0,\n                  \"goal_kicks\": 0,\n                  \"injuries\": 0,\n                  \"interceptions\": 0,\n                  \"long_passes_successful\": 0,\n                  \"long_passes_total\": 0,\n                  \"long_passes_unsuccessful\": 0,\n                  \"loss_of_possession\": 0,\n                  \"offsides\": 0,\n                  \"passes_successful\": 0,\n                  \"passes_total\": 0,\n                  \"passes_unsuccessful\": 0,\n                  \"penalties_missed\": 0,\n                  \"red_cards\": 0,\n                  \"shots_blocked\": 0,\n                  \"shots_off_target\": 0,\n                  \"shots_on_target\": 0,\n                  \"shots_saved\": 0,\n                  \"shots_total\": 0,\n                  \"substitutions\": 0,\n                  \"tackles_successful\": 0,\n                  \"tackles_total\": 0,\n                  \"tackles_unsuccessful\": 0,\n                  \"throw_ins\": 0,\n                  \"was_fouled\": 0,\n                  \"yellow_cards\": 0,\n                  \"yellow_red_cards\": 0\n                },\n                \"virtual\": true\n              }\n            ],\n            \"number\": 0\n          }\n        ],\n        \"totals\": {\n          \"competitors\": [\n            {\n              \"abbreviation\": \"string\",\n              \"age_group\": \"U23\",\n              \"country\": \"string\",\n              \"country_code\": \"string\",\n              \"form\": \"string\",\n              \"gender\": \"string\",\n              \"id\": \"string\",\n              \"name\": \"string\",\n              \"other_season_id\": \"string\",\n              \"players\": [\n                {\n                  \"id\": \"string\",\n                  \"name\": \"string\",\n                  \"starter\": true,\n                  \"statistics\": {\n                    \"assists\": 0,\n                    \"chances_created\": 0,\n                    \"clearances\": 0,\n                    \"corner_kicks\": 0,\n                    \"crosses_successful\": 0,\n                    \"crosses_total\": 0,\n                    \"defensive_blocks\": 0,\n                    \"diving_saves\": 0,\n                    \"dribbles_completed\": 0,\n                    \"fouls_committed\": 0,\n                    \"goals_by_head\": 0,\n                    \"goals_by_penalty\": 0,\n                    \"goals_conceded\": 0,\n                    \"goals_scored\": 0,\n                    \"interceptions\": 0,\n                    \"long_passes_successful\": 0,\n                    \"long_passes_total\": 0,\n                    \"long_passes_unsuccessful\": 0,\n                    \"loss_of_possession\": 0,\n                    \"minutes_played\": 0,\n                    \"offsides\": 0,\n                    \"own_goals\": 0,\n                    \"passes_successful\": 0,\n                    \"passes_total\": 0,\n                    \"passes_unsuccessful\": 0,\n                    \"penalties_faced\": 0,\n                    \"penalties_missed\": 0,\n                    \"penalties_saved\": 0,\n                    \"red_cards\": 0,\n                    \"shots_blocked\": 0,\n                    \"shots_faced_saved\": 0,\n                    \"shots_faced_total\": 0,\n                    \"shots_off_target\": 0,\n                    \"shots_on_target\": 0,\n                    \"substituted_in\": 0,\n                    \"substituted_out\": 0,\n                    \"tackles_successful\": 0,\n                    \"tackles_total\": 0,\n                    \"was_fouled\": 0,\n                    \"yellow_cards\": 0,\n                    \"yellow_red_cards\": 0\n                  }\n                }\n              ],\n              \"qualifier\": \"home\",\n              \"short_name\": \"string\",\n              \"statistics\": {\n                \"ball_possession\": 0,\n                \"cards_given\": 0,\n                \"chances_created\": 0,\n                \"clearances\": 0,\n                \"corner_kicks\": 0,\n                \"crosses_successful\": 0,\n                \"crosses_total\": 0,\n                \"crosses_unsuccessful\": 0,\n                \"defensive_blocks\": 0,\n                \"diving_saves\": 0,\n                \"dribbles_completed\": 0,\n                \"fouls\": 0,\n                \"free_kicks\": 0,\n                \"goal_kicks\": 0,\n                \"injuries\": 0,\n                \"interceptions\": 0,\n                \"long_passes_successful\": 0,\n                \"long_passes_total\": 0,\n                \"long_passes_unsuccessful\": 0,\n                \"loss_of_possession\": 0,\n                \"offsides\": 0,\n                \"passes_successful\": 0,\n                \"passes_total\": 0,\n                \"passes_unsuccessful\": 0,\n                \"penalties_missed\": 0,\n                \"red_cards\": 0,\n                \"shots_blocked\": 0,\n                \"shots_off_target\": 0,\n                \"shots_on_target\": 0,\n                \"shots_saved\": 0,\n                \"shots_total\": 0,\n                \"substitutions\": 0,\n                \"tackles_successful\": 0,\n                \"tackles_total\": 0,\n                \"tackles_unsuccessful\": 0,\n                \"throw_ins\": 0,\n                \"was_fouled\": 0,\n                \"yellow_cards\": 0,\n                \"yellow_red_cards\": 0\n              },\n              \"virtual\": true\n            }\n          ]\n        }\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2025-03-11T13:46:32.392Z"
                    },
                    "summaries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sport_event": {
                            "type": "object",
                            "properties": {
                              "channels": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "country": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "country_code": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "url": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              },
                              "competitors": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "abbreviation": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "age_group": {
                                      "type": "string",
                                      "example": "U23"
                                    },
                                    "country": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "country_code": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "form": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "gender": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "other_season_id": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "qualifier": {
                                      "type": "string",
                                      "example": "home"
                                    },
                                    "short_name": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "virtual": {
                                      "type": "boolean",
                                      "example": true,
                                      "default": true
                                    }
                                  }
                                }
                              },
                              "coverage": {
                                "type": "object",
                                "properties": {
                                  "competition_properties": {
                                    "type": "object",
                                    "properties": {
                                      "brackets": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "missing_players": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "player_transfer_history": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "schedules": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "season_player_statistics": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "season_probabilities": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "season_stats_leaders": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "season_team_statistics": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "standings": {
                                        "type": "string",
                                        "example": "live"
                                      },
                                      "team_squads": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      }
                                    }
                                  },
                                  "group_properties": {
                                    "type": "object",
                                    "properties": {
                                      "brackets": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "cup": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "group_stage": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "league": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "missing_players": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "qualification": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "results": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "schedules": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "standings": {
                                        "type": "string",
                                        "example": "live"
                                      }
                                    }
                                  },
                                  "sport_event_properties": {
                                    "type": "object",
                                    "properties": {
                                      "assists": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "ballspotting": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "basic_play_by_play": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "basic_player_stats": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "basic_team_stats": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "commentary": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "deeper_play_by_play": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "deeper_player_stats": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "deeper_team_stats": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "extended_player_stats": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "extended_team_stats": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "formations": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "fun_facts": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "game_clock": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "goal_scorers": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "goal_scorers_live": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "lineups": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "lineups_availability": {
                                        "type": "string",
                                        "example": "pre"
                                      },
                                      "probabilities": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "scores": {
                                        "type": "string",
                                        "example": "live"
                                      },
                                      "venue": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      }
                                    }
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "sport_event"
                                  }
                                }
                              },
                              "id": {
                                "type": "string",
                                "example": "sr:sport_event:2701207528523430685670"
                              },
                              "replaced_by": {
                                "type": "string",
                                "example": "sr:sport_event:6443867326796471275410407"
                              },
                              "resume_time": {
                                "type": "string",
                                "example": "2025-03-11T13:46:32.392Z"
                              },
                              "sport_event_conditions": {
                                "type": "object",
                                "properties": {
                                  "attendance": {
                                    "type": "object",
                                    "properties": {
                                      "count": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      }
                                    }
                                  },
                                  "comment": {
                                    "type": "object",
                                    "properties": {
                                      "text": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "ground": {
                                    "type": "object",
                                    "properties": {
                                      "neutral": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      }
                                    }
                                  },
                                  "lineups": {
                                    "type": "object",
                                    "properties": {
                                      "confirmed": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      }
                                    }
                                  },
                                  "referees": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "country_code": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "id": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "name": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "nationality": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "first_assistant_referee"
                                        }
                                      }
                                    }
                                  },
                                  "weather": {
                                    "type": "object",
                                    "properties": {
                                      "overall_conditions": {
                                        "type": "string",
                                        "example": "good"
                                      },
                                      "pitch_conditions": {
                                        "type": "string",
                                        "example": "good"
                                      }
                                    }
                                  }
                                }
                              },
                              "sport_event_context": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "object",
                                    "properties": {
                                      "country_code": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "competition": {
                                    "type": "object",
                                    "properties": {
                                      "gender": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "parent_id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "groups": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "group_name": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "id": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "name": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    }
                                  },
                                  "round": {
                                    "type": "object",
                                    "properties": {
                                      "competition_sport_event_number": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "cup_round_id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "cup_round_number_of_sport_events": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "cup_round_sport_event_number": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "number": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "other_sport_event_id": {
                                        "type": "string",
                                        "example": "sr:sport_event:92673443611707980074619972766254968368134180"
                                      }
                                    }
                                  },
                                  "season": {
                                    "type": "object",
                                    "properties": {
                                      "competition_id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "disabled": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "end_date": {
                                        "type": "string",
                                        "example": "2025-03-11"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "start_date": {
                                        "type": "string",
                                        "example": "2025-03-11"
                                      },
                                      "year": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "sport": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "stage": {
                                    "type": "object",
                                    "properties": {
                                      "end_date": {
                                        "type": "string",
                                        "example": "2025-03-11"
                                      },
                                      "order": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "phase": {
                                        "type": "string",
                                        "example": "stage_1_playoff"
                                      },
                                      "start_date": {
                                        "type": "string",
                                        "example": "2025-03-11"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "cup"
                                      },
                                      "year": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "start_time": {
                                "type": "string",
                                "example": "2025-03-11T13:46:32.393Z"
                              },
                              "start_time_confirmed": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "venue": {
                                "type": "object",
                                "properties": {
                                  "capacity": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "changed": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "city_name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "country_code": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "country_name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "map_coordinates": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "reduced_capacity": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "reduced_capacity_max": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "timezone": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              }
                            }
                          },
                          "sport_event_status": {
                            "type": "object",
                            "properties": {
                              "aggregate_away_score": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "aggregate_home_score": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "aggregate_winner_id": {
                                "type": "string",
                                "example": "sr:competitor:8465250640546374787509707336263012542993720980290689183183"
                              },
                              "away_normaltime_score": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "away_overtime_score": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
[...]
